.templates-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 315px;
  height: 100vh;
  font-family: Tahoma, sans-serif;
  color: #fff;
  background: #305f98;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out;

  &:hover {

    .templates-navigation__toggle {
      opacity: 1;
    }

  }

  &_visible {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  &_hidden {
    opacity: 0;
    visibility: visible;
    transform: translate3d(-300px, 0, 0);

    &:hover {
      opacity: 1;
    }

  }

  &__title {
    padding: 25px 30px;
    font-size: 24px;
    text-align: center;
    background: #3e75b9;
    border-bottom: 2px solid #2a558a;
  }

  &__list-1 {
    height: calc(100vh - 137px);
    overflow-y: auto;
  }


  &__item-1 {
    position: relative;
    margin: 2px 0 0;

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 30px;
      width: 255px;
      height: 1px;
      background: rgba(255, 255, 255, .1);
    }

    &:first-child {
      margin: 0;
    }

    &:last-child {
      &:after {
        display: none;
      }

    }

  }

  &__link {
    position: relative;
    display: block;
    padding: 8px 30px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: #dbebff;
    transition: 300ms ease-in-out;

    &:hover {
      background: #2a578e;
    }

    &_level-1 {
      padding: 15px 30px;
    }

    &_level-2 {
      padding: 15px 30px 15px 50px;
    }

    &_current {
      font-weight: bold;
      color: #fff;
      background: #2a578e;

      &:hover {
        background: #2a578e;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: #fff;
      }

    }

  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background: #96b4d8;
    cursor: pointer;
    opacity: 0;
    transition: 300ms ease-in-out;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    border-top: 2px solid #4e8ad2;
    background: #3e75b9;
  }

  &__questions {
    font-size: 12px;
    text-align: center;
    color: #c2dbf9;
  }

  &__mail {
    display: block;
    margin: 5px 0 0;
    font-size: 12px;
    text-align: center;
    color: #c2dbf9;
  }

  &_transition {
    transition: 300ms ease-in-out;
  }

}
