<aside class="templates-navigation">
  <header class="templates-navigation__header">
    <div class="templates-navigation__heading">
      Templates:
    </div>
    <div class="template-navigation__close">
    </div>
  </header>
  <div class="templates-navigation__content">
    <ul class="templates-navigation__list-1">
      <li class="templates-navigation__item templates-navigation__item_level-1">
        <a href="/" class="templates-navigation__link templates-navigation__link_level-1">Home page</a>
        <ul class="templates-navigation__list-2">
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="/templates/demo.html" class="templates-navigation__link templates-navigation__link_level-2">Demo 1.1</a></li>
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 1.2</a></li>
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 1.3</a></li>
        </ul>
      </li>
      <li class="templates-navigation__item templates-navigation__item_level-1">
        <a href="#" class="templates-navigation__link templates-navigation__link_level-1">Template #2</a>
      </li>
      <li class="templates-navigation__item templates-navigation__item_level-1">
        <a href="#" class="templates-navigation__link templates-navigation__link_level-1">Template #3</a>
        <ul class="templates-navigation__list-2">
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 3.1</a></li>
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 3.2</a></li>
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 3.3</a></li>
        </ul>
      </li>
      <li class="templates-navigation__item templates-navigation__item_level-1">
        <a href="#" class="templates-navigation__link templates-navigation__link_level-1">Template #4</a>
        <ul class="templates-navigation__list-2">
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 4.1</a></li>
        </ul>
      </li>
      <li class="templates-navigation__item templates-navigation__item_level-1">
        <a href="#" class="templates-navigation__link templates-navigation__link_level-1">Template #5</a>
        <ul class="templates-navigation__list-2">
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 5.1</a></li>
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 5.2</a></li>
          <li class="templates-navigation__item templates-navigation__item_level-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 5.3</a></li>
        </ul>
      </li>
    </ul>
    <div class="templates-navigation__comment">
      <div class="templates-navigation__comment-heading">
        Comment:
      </div>
      <div class="templates-navigation__comment-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ad corrupti vel nostrum temporibus.
      </div>
    </div>
  </div>
  <footer class="templates-navigation__footer">
    <div class="templates-navigation__questions">Do you have any questions? Ask me!</div>
    <a class="templates-navigation__mail" href="mailto:support@nikitavanin.ru">support@nikitavanin.ru</a>
  </footer>
</aside>
