<aside class="templates-navigation">
  <div class="templates-navigation__title">
    Templates navigation:
  </div>
  <ul class="templates-navigation__list-1">
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link">Template #1</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 1.1</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 1.2</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 1.3</a></li>
      </ul>
    </li>
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link">Template #2</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 2.1</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 2.2</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 2.3</a></li>
      </ul>
    </li>
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link">Template #3</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 3.1</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 3.2</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 3.3</a></li>
      </ul>
    </li>
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link">Template #4</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 4.1</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 4.2</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 4.3</a></li>
      </ul>
    </li>
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link">Template #5</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 5.1</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 5.2</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link">Template 5.3</a></li>
      </ul>
    </li>
  </ul>
  <div class="templates-navigation__questions">Do you have questions? Ask me!</div>
  <a class="templates-navigation__mail" href="mailto:email@example.com">email@example.com</a>
  <div class="templates-navigation__hide templates-navigation__hide_visible"></div>
</aside>
