.templates-navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 268px;
  height: 100vh;
  font-family: Tahoma, sans-serif;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out;

  &_visible {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  &_hidden {
    opacity: 0;
    visibility: visible;
    transform: translate3d(-300px, 0, 0);

    &:hover {
      opacity: 1;
    }

  }

  &__header {
    position: relative;
    padding: 22px 20px;
    background: #4678cc;
  }

  &_hide-elem {
    position: absolute;
    width: 8px;
    height: 2px;
    background: #fff;
  }

  &__heading {
    font-size: 20px;
    text-align: center;
  }

  &__content {
    height: calc(100vh - 126px);
    background: rgba(#212f46, .9);
    overflow-y: auto;
  }

  &__list-1 {

  }


  &__item {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 20px;
      width: 5px;
      height: 5px;
      background: #dbebff;
      border-radius: 50%;
    }

    &_current {

      &:after {
        background: #63aef3;
      }

    }

    &_level-1 {

      &:after {
        left: 20px;
      }

    }

    &_level-2 {

      &:after {
        left: 50px;
      }

  }

  }

  &__link {
    position: relative;
    display: block;
    padding: 16px 40px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #dbebff;
    transition: 300ms ease-in-out;

    &:hover {
      background: rgba(#26344a, .6);
    }

    &_level-1 {
      padding: 16px 20px 16px 40px;
      text-transform: uppercase;
    }

    &_level-2 {
      padding: 16px 20px 16px 70px;
    }

    &_current {
      font-weight: bold;
      color: #fff;
      background: rgba(#26344a, .6);

    }

  }

  &__comment {
    margin: 20px;
    padding: 15px 20px;
    font-family: Helvetica, sans-serif;
    background: rgba(#26344a, .6);
    border-radius: 5px;
  }

  &__comment-heading {
    font-size: 14px;
  }

  &__comment-message {
    margin: 10px 0 0;
    font-size: 12px;
    line-height: 16px;
    color: #8898ad;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background: #4678cc;
  }

  &__questions {
    font-size: 12px;
    text-align: center;
    color: #c2dbf9;
  }

  &__mail {
    display: block;
    margin: 8px 0 0;
    font-size: 12px;
    text-align: center;
    color: #c2dbf9;
  }

  &_transition {
    transition: 300ms ease-in-out;
  }

}
