<aside class="templates-navigation">
  <div class="templates-navigation__title">
    Templates:
  </div>
  <ul class="templates-navigation__list-1">
    <li class="templates-navigation__item-1">
      <a href="/" class="templates-navigation__link templates-navigation__link_level-1">Home page</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="/templates/demo.html" class="templates-navigation__link templates-navigation__link_level-2">Demo 1.1</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 1.2</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 1.3</a></li>
      </ul>
    </li>
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link templates-navigation__link_level-1">Template #2</a>
    </li>
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link templates-navigation__link_level-1">Template #3</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 3.1</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 3.2</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 3.3</a></li>
      </ul>
    </li>
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link templates-navigation__link_level-1">Template #4</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 4.1</a></li>
      </ul>
    </li>
    <li class="templates-navigation__item-1">
      <a href="#" class="templates-navigation__link templates-navigation__link_level-1">Template #5</a>
      <ul class="templates-navigation__list-2">
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 5.1</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 5.2</a></li>
        <li class="templates-navigation__item-2"><a href="#" class="templates-navigation__link templates-navigation__link_level-2">Template 5.3</a></li>
      </ul>
    </li>
  </ul>
  <div class="templates-navigation__footer">
    <div class="templates-navigation__questions">Do you have any questions? Ask me!</div>
    <a class="templates-navigation__mail" href="mailto:email@example.com">email@example.com</a>
  </div>
  <div class="templates-navigation__toggle"></div>
</aside>
